<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>D:/_log/finallog.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${USER_HOME}/${byDay}/${finallog}-${byDay}-%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>10</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">只允许打印错误日志到文件 
			<level>WARN,ERRO</level> <onMatch>ACCEPT</onMatch> <onMismatch>DENY</onMismatch> 
			</filter> -->
	</appender>

	<!-- additivity true 信息向上级传递，logger本身打印一次 -->
	<logger name="com.rb.server.data.entity.FinanceAction" level="INFO"
		additivity="true">
		<appender-ref ref="file" />
	</logger>
	<logger name="com.rb.server.data.dao" level="info"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- 如果spring-config里面没有配置slf4j,就不会显示sql日志，logback只是slf4j的一个实现 -->
	<!-- <logger name="com.alibaba.druid" level="debug" additivity="false" /> -->
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration> 